.customerAllCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 5%;
  margin-right: 3%;
}

.customerCard {
  background-color: #eaf1ef;
  border: solid 1px #b1c2be;
  border-radius: 2px;
  box-shadow: 0 2px 1px #b1c2be;
  color: #001813;
  cursor: pointer;
  display: flex;
  height: 130px;
  margin: 12px;
  padding: 0;
  text-decoration: none;
  width: 30%;
}

.customerCard:hover {
  background-color: #8cddbf;
  box-shadow: 10px 10px 12px #719ece;
  color: #262626;
}

.customerCard:active {
  background-color: #2fc18c;
  box-shadow: rgba(255, 255, 255, 0.1);
  transform: translateY(4px);
}

.customerCardId {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: large;
  height: 100%;
  justify-content: center;
  margin: 0;
  width: 140px;
}

.customerPedido {
  font-size: 15px;
  margin: 3px;
}

.customerCardStatusDatePrice {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5px 0;
  width: 100%;
}

.customerCardStatusPendente {
  align-items: center;
  background-color: #ccb800;
  border-radius: 5px;
  display: flex;
  font-size: large;
  font-weight: 700;
  height: 100px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  width: 45%;
}

.customerCardStatusPreparando {
  align-items: center;
  background-color: #6c0;
  border-radius: 5px;
  display: flex;
  font-size: large;
  font-weight: 700;
  height: 100px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  width: 45%;
}

.customerCardStatusEmTrânsito {
  align-items: center;
  background-color: #ce9634;
  border-radius: 5px;
  display: flex;
  font-size: large;
  font-weight: 700;
  height: 100px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  width: 45%;
}

.customerCardStatusEntregue {
  align-items: center;
  background-color: #00cc9b;
  border-radius: 5px;
  display: flex;
  font-size: large;
  font-weight: 700;
  height: 100px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  width: 45%;
}

.customerCardDatePrice {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75px;
  justify-content: space-evenly;
  width: 45%;
}

.customerCardDatePrice div {
  background-color: #f2fffc;
  border-radius: 5px;
  display: flex;
  font-size: large;
  font-weight: 700;
  height: 22px;
  justify-content: center;
  padding-top: 7px;
  width: 100%;
}
