.button-cart {
  align-items: center;
  background-color: rgba(3, 107, 82, 1);
  border-radius: 12px;
  bottom: 20px;
  color: rgba(229, 229, 229, 1);
  display: flex;
  font-size: 40px;
  font-weight: 550;
  height: 79px;
  justify-content: center;
  padding: 30px;
  position: fixed;
  right: 30px;
}

.container-main-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  justify-content: center;
  margin: 8px;
}

.button-cart p {
  margin-right: 12px;
}

.button-cart:hover {
  cursor: pointer;
}

.product-card {
  border: 2px solid rgba(177, 194, 190, 1);
  box-shadow: 4px 6px 6px 4px #888;
  display: flex;
  flex-direction: column;
  height: 487px;
  text-align: center;
  width: 376px;
}

.product-card img {
  height: 487px;
  width: 376px;
}

.product-card span {
  align-items: center;
  background-color: rgba(246, 255, 253, 0.835);
  border-radius: 5px;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  height: 59px;
  justify-content: center;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  width: 150px;
}

.container-modifiers-buttons {
  display: flex;
  height: 52px;
  justify-content: center;
}

.container-modifiers-buttons button {
  background-color: rgba(3, 107, 82, 1);
  border-style: none;
  color: rgba(242, 255, 252, 1);
  font-size: 40px;
  font-weight: 800;
  width: 49px;
}

.container-modifiers-buttons button:nth-of-type( 1 ) {
  border-radius: 12px 0 0 12px;
}

.container-modifiers-buttons button:nth-of-type( 2 ) {
  border-radius: 0 12px 12px 0;
}

.container-modifiers-buttons input {
  color: rgba(130, 130, 130, 1);
  font-size: 25px;
  text-align: center;
  width: 61px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-text-wrapper {
  background-color: rgba(234, 241, 239, 1);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 376px;
}

.button-text-wrapper p {
  font-size: 20px;
  padding: 10px;
}

.customer-products-page {
  margin-bottom: 150px;
}
