/* .admin-menu-container {
  background-color: rgba(3, 107, 82, 1);
  display: flex;
  height: 105px;
  margin-bottom: 60px;
  width: 1920px;
}

.admin-user-manage {
  align-items: center;
  background-color: rgba(47, 193, 140, 1);
  display: flex;
  font-size: 25px;
  height: 105px;
  justify-content: center;
  width: 367px;
}

.admin-user-and-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.admin-customer-name {
  align-items: center;
  background-color: rgba(66, 25, 129, 1);
  color: rgba(242, 255, 252, 1);
  display: flex;
  font-size: 25px;
  justify-content: center;
  width: 359px;
}

.admin-loggout-button {
  background-color: rgba(5, 108, 249, 1);
  border-style: none;
  color: rgba(242, 255, 252, 1);
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  height: 105px;
  width: 180px;
} */
