.container-main {
  border: 1px solid rgba(177, 194, 190, 1);
  box-shadow: 2px 2px rgba(177, 194, 190, 1);
  display: flex;
  flex-direction: column;
  height: max-content;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  width: 90%;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
  font-size: large;
  line-height: 50px;
  padding: 10px;
  text-align: center;
}

.table-rows {
  font-size: 28px;
}

.table-rows td:nth-of-type( 1 ) {
  background-color: rgba(47, 193, 140, 1);
  border-radius: 15px 0 0 15px;
  width: 60px;
}

.table-rows td:nth-of-type( 2 ) {
  background-color: rgba(234, 241, 239, 1);
  width: 65%;
}

.table-rows td:nth-of-type( 3 ) {
  background-color: rgba(3, 107, 82, 1);
  color: rgba(242, 255, 252, 1);
}

.table-rows td:nth-of-type( 4 ) {
  background-color: rgba(66, 25, 129, 1);
  color: rgba(242, 255, 252, 1);
  font-weight: 550;
}

.table-rows td:nth-of-type( 5 ) {
  background-color: rgba(5, 108, 249, 1);
  border-radius: 0;
  color: rgba(242, 255, 252, 1);
  font-weight: 550;
}

.table-button {
  background-color: rgba(47, 193, 140, 1);
  border-radius: 0 15px 15px 0;
  color: rgba(242, 255, 252, 1);
  font-weight: 550;
}

.table-button button {
  background-color: rgba(47, 193, 140, 1);
  border-style: none;
  color: rgba(242, 255, 252, 1);
  font-size: 28px;
}

.footer-total {
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  padding-top: 80px;
  position: relative;
  right: 20px;
  width: 100%;
}

.footer-total h1 {
  align-items: center;
  background-color: rgba(3, 107, 82, 1);
  border-radius: 10px;
  color: rgba(242, 255, 252, 1);
  display: flex;
  font-size: 50px;
  font-weight: 550;
  height: 84px;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 16px;
  width: 512px;
}
