<<<<<<< HEAD:front-end/src/components/Style/TableProducts.css
.container-table-checkout-main {
  border: 1px solid rgba(177, 194, 190, 1);
  box-shadow: 2px 2px rgba(177, 194, 190, 1);
  display: flex;
  flex-direction: column;
  height: max-content;
  margin-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  width: 90%;
=======
.main-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 10%;
>>>>>>> main-group-24:front-end/src/components/Style/UserList.css
}

table {
  border: 1px solid rgba(177, 194, 190, 1);
  border-collapse: separate;
  border-spacing: 0 15px;
  box-shadow: 2px 2px rgba(177, 194, 190, 1);
  font-size: large;
  margin-bottom: 40px;
  padding: 0 10px;
}

.table-rows {
  font-size: 28px;
}

.table-rows td:nth-of-type( 1 ) {
  background-color: rgba(47, 193, 140, 1);
  border-radius: 15px 0 0 15px;
  text-align: center;
  width: 60px;
}

.table-rows td:nth-of-type( 2 ) {
  background-color: #eaf1ef;
}

.table-rows td:nth-of-type( 3 ) {
  background-color: rgba(3, 107, 82, 1);
  color: rgba(242, 255, 252, 1);
  text-align: center;
}

.table-rows td:nth-of-type( 4 ) {
  background-color: rgba(66, 25, 129, 1);
  color: rgba(242, 255, 252, 1);
  text-align: center;
}

.products-sub-total {
  background-color: rgba(5, 108, 249, 1);
<<<<<<< HEAD:front-end/src/components/Style/TableProducts.css
=======
  border-radius: 0 15px 15px 0;
>>>>>>> main-group-24:front-end/src/components/Style/UserList.css
  color: rgba(242, 255, 252, 1);
  text-align: center;
}

.table-button {
  background-color: rgba(5, 108, 249, 1);
  color: rgba(242, 255, 252, 1);
}

.table-button button {
  background-color: rgba(5, 108, 249, 1);
  border-radius: 0 15px 15px 0;
  border-style: none;
  color: rgba(242, 255, 252, 1);
  cursor: pointer;
  font-size: 28px;
  font-weight: 550;
}

<<<<<<< HEAD:front-end/src/components/Style/TableProducts.css
.footer-checkout-total {
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
  position: relative;
  right: 20px;
  width: 100%;
}

.footer-checkout-total h1 {
  align-items: center;
  background-color: rgba(3, 107, 82, 1);
  border-radius: 10px;
  color: rgba(242, 255, 252, 1);
  display: flex;
  font-size: 50px;
  font-weight: 550;
  height: 84px;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 16px;
  width: 512px;
=======
.list-name {
  font-size: large;
  font-weight: 800;
  margin-bottom: 10px;
>>>>>>> main-group-24:front-end/src/components/Style/UserList.css
}
