.loginContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginForm {
  background-color: #eaf1ef;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 300px;
}

.loginBtn, .registerBtn {
  background-color: #eaf1ef;
  border: 2px solid #036b52;
  border-radius: 10px;
  font-size: 20px;
  height: 50px;
  margin-top: 20px;
  transition: 0.5s;
  width: 100%;
}

.loginBtn:enabled {
  background-color: #036b52;
  color: white;
  cursor: pointer;
}

.registerBtn {
  color: #036b52;
  cursor: pointer;
}

.loginForm label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.loginForm input {
  border: 1px solid;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  margin-top: 7px;
}

.LoginPasswordLabel {
  margin-top: 10px;
}

.logo {
  width: 40%;
}

.appName {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 0;
}
