.registerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.registerForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #EAF1EF;
  padding: 30px;
}

.registerForm label { 
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.registerEmailLabel, .registerPasswordLabel {
  margin-top: 10px;
}

.registerForm input {
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 7px;
}

.registerTitle {
  font-size: 40px;
}

.registerForm button{
  width: 100%;
  height: 50px;
  border: 2px solid #036B52;
  border-radius: 10px;
  background-color: #EAF1EF;
  font-size: 20px;
  transition: 0.5s;
  margin-top: 20px;
}

.registerForm button:enabled {
  color: white;
  background-color: #036B52;
  cursor: pointer;
}

.registerForm input {
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 7px;
}