.registerContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.registerForm {
  background-color: #eaf1ef;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 300px;
}

.registerForm label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.registerEmailLabel, .registerPasswordLabel {
  margin-top: 10px;
}

.registerForm input {
  border: 1px solid;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  margin-top: 7px;
}

.registerTitle {
  font-size: 40px;
}

.registerForm button {
  background-color: #eaf1ef;
  border: 2px solid #036b52;
  border-radius: 10px;
  font-size: 20px;
  height: 50px;
  margin-top: 20px;
  transition: 0.5s;
  width: 100%;
}

.registerForm button:enabled {
  background-color: #036b52;
  color: white;
  cursor: pointer;
}
